<template>
  <button type="button">
    <SpinnerIcon v-if="isLoading"/>
    <span v-else>
      <IconBase :icon="iconName"/>
      {{ text }}
    </span>
  </button>
</template>

<script>
export default {
  props: ['text', 'iconName', 'isLoading']
}
</script>