<template>
  <h1>Detail</h1>

  <button type="button" @click="goHome">Home</button>
  <button type="button" @click="pushWithQuery(framework)">Params Query</button>
</template>

<script>
import { reactive, toRefs } from "vue";
import { useRouter, useRoute } from "vue-router";

export default {
  setup() {
    const router = useRouter();
    const route = useRoute();

    const state = reactive({
      framework: ["vue", 90],
    });

    const goHome = () => {
      router.push({
        path: "/",
      });
    };

    const pushWithQuery = (query) => {
      router.push({
        name: "users",
        query: {
          ...route.query,
        },
        params: { userId: 70, userData: query },
      });
      console.log("Detail query: ", query);
    };

    return {
      ...toRefs(state),
      goHome,
      pushWithQuery,
    };
  },
};
</script>