<template>
  <h1>Home</h1>
  <router-link :to="{ name: 'users', params: { userId: 7 } }"
    >User List</router-link
  >
  <br />
  <router-link
    :to="{
      name: 'users',
      params: { userId: 10, userData: { name: 'Sarah' } },
    }"
    >User Data Detail 10</router-link
  >
  <br />
  <router-link
    :to="{
      name: 'users',
      params: { userId: 17, userData: { name: 'Abu', age: 10 } },
    }"
    >User 17</router-link
  >
  <br />
  <router-link to="detail">Detail</router-link>
</template>

<script>
import { reactive, toRefs } from "vue";
export default {
  setup() {
    const state = reactive({
      user: {
        username: "syamsul",
        address: "kalibata",
      },
    });

    return {
      ...toRefs(state),
    };
  },
};
</script>