<template>
  <div>List</div>
  <h2>{{ userId }}</h2>

  <div v-if="userData">
      <h3>Ada</h3>
      <p>Name: {{ userData }}</p>
  </div>

  <router-link to="/">Home</router-link>
</template>

<script>
export default {
  props: {
    userId: { type: Number, required: true },
    userData: { type: Object, required: true },
  },
  setup(props) {
      console.log('User props: ', props);
  }
};
</script>