<template>
  <input v-model.number="number1" type="number" style="width: 3rem">
  Ebi Tempura/ {{ price1 }} = <span>{{ subtotal1 }}</span> <br>

  <input v-model.number="number2" type="number" style="width: 3rem; margin: 8px 0">
  Thai Tea/ {{ price2 }} = <span> {{ subtotal2 }} </span> <br>

  <p>{{ number1 + number2 }}</p> 

  <button @click="total" type="submit">Pay Bill</button>

  {{ result }}

</template>

<script>
import { computed, reactive, toRefs } from "vue";
export default {
  setup() {
    const state = reactive({
      number1: 0,
      number2: 0,
      price1: 500,
      price2: 1000,
      result: 0
    });

    const subtotal1 = computed(() => state.number1 * state.price1 )
    const subtotal2 = computed(() => state.number2 * state.price2 )

    const total = () => {
      state.result = subtotal1.value + subtotal2.value
    }

    return {
      ...toRefs(state),
      subtotal1,
      subtotal2,
      total
    };
  },
};
</script>

<style scoped>
</style>