<template>
  <ul>
    <NavItem label="home"></NavItem>
  </ul>
</template>

<script>
import NavItem from "./NavItem.vue";
export default {
  setup() {

    return {
    };
  },
};
</script>

<style scoped>
</style>