<template>
  <li>
    <a :href="`/${label}`">{{ label }}</a>
  </li>
</template>

<script>
export default {
  props: {
    label: { type: String, required: false },
  },
  
};
</script>

<style scoped>
ul {
  list-style: none;
}
li {
  display: inline;
  float: left;
}
a {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
}
a:hover {
  color: #42b983;
}
</style>