<template>
  {{ title }}
  {{ likes }}
  {{ isPublished }}

  <button @click="onSave">Save</button>
</template>

<script>
import { reactive, toRefs } from "vue";
export default {
  // props: ['title', 'likes', 'isPublished'],
  props: {
    title: { type: String, default: 'Jupri' },
    likes: Number,
    isPublished: { type: Boolean, default: true },
  },
  setup(props, {emit}) {

    const state = reactive({
    });

    const onSave = () => {
      console.log('ok');
      emit('monggo')
    }

    return {
      ...toRefs(state),
      onSave
    };
  },
};
</script>

<style scoped>
</style>