<template>
  {{ title }}
  {{ likes }}
  {{ isPublished }}
</template>

<script>
import { computed, onMounted, reactive, toRefs } from "vue";
export default {
  props: {
    title: { type: String, required: true },
    likes: Number,
    isPublished: Boolean,
  },
  setup() {
    const state = reactive({});

    return {
      ...toRefs(state),
    };
  },
};
</script>

<style scoped>
</style>