<template>
    <div :class="activeClass">{{ name }}</div>
</template>

<script>
import { reactive, toRefs } from "vue";
export default {
  setup() {
    const state = reactive({
      name: 'Vue',
      styleObj: {
        color: 'red',
        fontSize: '5rem'
      },
      activeClass: 'active'
    });

    setTimeout(() => {
      state.activeClass = 'success'
      state.name = ''
    }, 3000);

    return {
      ...toRefs(state),
    };
  },
};
</script>

<style scoped>
.active {
  color: green;
  font-size: 5rem;
}

.success {
  font-size: 3rem;
  background: no-repeat url('../assets/logo.png');
  height: 200px;
}
</style>