<template>
  <input type="checkbox" v-model="showData"> Show Data
  <ul v-if="showData">
    <li v-for="(item, index) in dataPrepare" :key="index">{{ item['id'] }} - {{ item['category'] }} </li>
  </ul>

  <div>Data Food : {{ food }}</div> 
  <div>Data Dessert : {{ dessert }}</div> 
  <div>Data beverage : {{ beverage }}</div> 
</template>

<script>
import { onMounted, reactive, toRefs } from "vue";
import data from '../data/resto.json';
export default {
  setup() {
    const state = reactive({
      dataPrepare: {},
      showData: true,
      food: 0,
      dessert: 0,
      beverage: 0,
    });

    onMounted(() => {
      const dataResto = data;
      state.dataPrepare = dataResto.data;
      console.log(state.dataPrepare);

      let dataCategory = dataResto.data.filter(function (index){
        return index.category === 'food'
      });
      state.food = dataCategory.length;

      let dataCategoryDessert = dataResto.data.filter(function (index){
        return index.category === 'dessert'
      });
      state.dessert = dataCategoryDessert.length;

      let dataCategoryBeverage = dataResto.data.filter(function (index){
        return index.category === 'beverage'
      });
      state.beverage = dataCategoryBeverage.length;

    });

    return {
      ...toRefs(state),
    };
  },
};
</script>

<style scoped>
ul li {
  list-style: none;
}
</style>