<template>
  <input type="checkbox" v-model="showData"> Show Data
  <ul v-if="showData">
    <li v-for="(item, index) in dataPrepare" :key="index">{{ item['id'] }} - {{ item['item_name'] }} </li>
  </ul>
</template>

<script>
import { onMounted, reactive, toRefs } from "vue";
import data from '../data/resto.json';
export default {
  setup() {
    const state = reactive({
      dataPrepare: {},
      showData: true
    });

    onMounted(() => {
      const dataResto = data;
      state.dataPrepare = dataResto.data;
      console.log(state.dataPrepare);
    });

    return {
      ...toRefs(state),
    };
  },
};
</script>

<style scoped>
ul li {
  list-style: none;
}
</style>