<template>
  <div class="font-lg" v-html="message"></div>
  <h3 v-text="framwork"></h3>
</template>

<script>
import { reactive, toRefs } from "vue";
export default {
  setup() {
    const state = reactive({
      framwork: 'Vue Js',
      message: '<b>Hi</b>'
    });

    return {
      ...toRefs(state),
    };
  },
};
</script>

<style scoped>
.font-lg {
  font-size: 10rem;
}
</style>