<template>
  <div>Pesanan</div>
  <hr>
  <img v-show="image" :src="products" :style="styles" :class="[classes]">
  <div>{{ productName }}</div>
  <div>Qty : {{ qty }} <input type="number" max="15" v-model="qty"> Harga : {{ price }} </div>
  <div>Total: {{ qty * price }}</div>
  <input type="checkbox" v-model="showBonus"> Show Bonus
  <div v-if="showBonus"> 
    <p v-if="qty >= 15">Max beli {{ qty }}</p>
    <p v-else-if="qty >= 8">Reseller ya</p>
    <p v-else-if="qty >= 3">Anda dapet bonus piring</p>
    <p v-else>Tingkatkan order biar dapet bonus</p>
  </div> <br>
  <input type="checkbox" v-model="image" > Show Image

</template>

<script>
import { reactive, toRefs } from "vue";
export default {
  setup() {
    const state = reactive({
      products: 'http://localhost:3000/src/assets/collingfan.png',
      styles: {
        width: '7rem',
        height: 'auto'
      },
      productName: 'Colling fan',
      qty: 1,
      price: 2000,
      showBonus: true,
      image: true,
      classes: ['red', 'border']
    });

    return {
      ...toRefs(state),
    };
  },
};
</script>

<style scoped>
.red {
  border: 1px solid red;
}
.border {
  border-radius: 4px
}
</style>