<template>
  <input type="number" v-model.number="number1" />
  <input type="number" v-model.number="number2" /> <br>

  {{ result }}
</template>

<script>
import { computed, reactive, toRefs } from "vue";
export default {
  setup() {
    const state = reactive({
      number1: 0,
      number2: 0,
      text: ''
    });

    const result = computed(() => state.number1 + state.number2);

    return {
      ...toRefs(state),
      result
    };
  },
};
</script>

<style scoped>
</style>