<template>
  <h3>Name : {{ name }}</h3>
  <h3>Lahir : {{ lahir }}</h3>
  <h3>Umur : {{ age }}</h3>
</template>

<script>
import { reactive, ref, toRefs } from 'vue';
export default {
  setup() {
    // const number = ref('');
    const state = reactive({
      name: 'Syamsul',
      lahir: 'Brebes',
      age: 0,
      form: {
        alamat: '',
        hobi: ''
      }
    });

    
    setTimeout(() => {
      state.name = 'Amin'
      state.lahir = 'Jakarta'
      console.log(state.age)
      // console.log('form', state.form);
      // state.form.alamat = 'Banjaranyar'
    }, 2000);

    return {
      // number
      ...toRefs(state),
    }
  }

  
}
</script>