<template>
  <h3>{{ number }}</h3>
</template>

<script>
import { ref } from 'vue';
export default {
  setup() {
    const number = ref('');

    setTimeout(() => {
      console.log('Terganti 2s');
    }, 2000)

    return {
      number
    }
  }

  
}
</script>

<style>

</style>