<template>
    <p>{{ count }}</p>
    <button style="margin: 0 0 5rem 0" @click="increment">increment</button> <br>

    {{ user.username }} : {{ user.address }}
</template>

<script>
import { watchEffect, reactive, toRefs, watch } from "vue";
export default {
  setup() {
    const state = reactive({
        count: 0,
        name: 'ahmad',
        user: {
          username: 'ahmad yani',
          address: 'brebes'
        }
    });
    
    const increment = () => {
        state.count++
    }

    setTimeout(() => {
      state.user.username = ' jhon papa';
      state.user.address = 'jakarta'
    }, 3000);

    watchEffect(() => {
      console.log('2. watch effect :', state.count)
    }, {
      onTrack(e) {
        console.log('1. onTrack :', e)
      }, 
      onTrigger(e) {
        console.log('3. onTrigger :', e)
      }
    })

    watch(() => state.count, (count, prevcount) => {
      console.log('4. watch :', count, prevcount)
    })
    // props.result


    return {
      ...toRefs(state),
      increment
    };
  },
};
</script>

<style scoped>
</style>