<template>
    <p>{{ count }}</p>
    <button style="margin: 0 0 5rem 0" @click="increment">increment</button> <br>

    <input type="text" v-model="form.isi" autofocus> {{ form.keterangan }}
</template>

<script>
import { watch, watchEffect, reactive, toRefs, onMounted } from "vue";
export default {
  setup() {
    const state = reactive({
        count: 0,
        form: {
            isi: '',
            keterangan: ''
        }
    });
    
    const increment = () => {
        state.count++
    }

    watch(() => state.count, (count, prevCount) => {
        console.log(count, prevCount);
    })

    // print setelah component di render pre & post
    // onTrigger(e) & onTracking(e)
    // watch bisa mantau object
    watchEffect(() => {
        if(state.form.isi == 'saya'){
            state.form.keterangan = 'ganteng'
        } else {
            state.form.keterangan = 'sedang mencari kata saya...'
        }
    }, {
        onTrigger(e) {
            console.log('e', e);
        }
    })

    // watch: only accept func, specifict reactive
    // watcheffect: multiple reactive

    return {
      ...toRefs(state),
      increment
    };
  },
};
</script>

<style scoped>
</style>