<template>
  <router-view />
</template>

<script>
import { reactive, toRefs } from 'vue'
export default {
  setup() {
    const state = reactive({
    });

    return {
      ...toRefs(state),
    };
  },
};
</script>

<style>
</style>
